<!DOCTYPE html>
<html lang="en">
    
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }}</title>
		<meta name="title" content="{{ title }}">
		<meta name="description" content="{{ global.description }}">
		<meta name="keywords" content="{{ global.keywords }}">
		<meta name="author" content="{{ global.name }}">
		<meta name="robots" content="index, follow">
		<link rel="canonical" href="{{ global.url | url }}{{ page.url }}">
		<link rel="preload" href="{{ '/fonts/Roobert-Medium.woff2' }}" crossorigin as="font" type="font/woff2">
		<link rel="stylesheet" href="{{ '/styles/main.css' | url }}">

    <link rel="icon" href="{{ '/images/logo/favicon.ico' }}" sizes="any">
    <link rel="icon" href="{{ '/images/logo/logo.svg' }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ '/images/logo/180.png' }}">
    <link rel="manifest" href="/manifest.json">
	</head>	

	<body>
		<div class="content-outer">
			<div class="content-wrapper" data-scroll-container>
				{% include "partials/header.njk" %}
				<main class="main">
					{{ content | safe }}
				</main>
				{% include "partials/footer.njk" %}
			</div>
			<script src="https://player.vimeo.com/api/player.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
			<script defer src="/scripts/index.js"></script>
			<script>
				const scroller = new LocomotiveScroll({
					el: document.querySelector('[data-scroll-container]'),
					smooth: true
				})

				scroller.on('scroll', ScrollTrigger.update)

				ScrollTrigger.scrollerProxy(
					'.content-wrapper', {
							scrollTop(value) {
									return arguments.length ?
									scroller.scrollTo(value, 0, 0) :
									scroller.scroll.instance.scroll.y
							},
							getBoundingClientRect() {
									return {
											left: 0, top: 0, 
											width: window.innerWidth,
											height: window.innerHeight
									}
							}
					}
				);

				ScrollTrigger.addEventListener('refresh', () => scroller.update());

				ScrollTrigger.refresh();

			</script>
		</div>
	</body>

</html>
