/* Button
----------------------------------------------------------------------------- */

.btn-link {
  font-size: var(--font--size-regular);
  line-height: 1;
  border-radius: 80px;
  color: var(--color--grey-900);
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1.5px solid var(--color--grey-900);
  column-gap: 8px;
  letter-spacing: 0.04rem;
  white-space: nowrap;
}

.btn-link--md {
  padding: 18px 36px;
}

.btn-link--sm {
  padding: 14px 28px;
}

.btn-link:hover {
  transition: all .2s ease;
  border: 1.5px solid transparent;
  color: #fff;
  background-color: var(--color--grey-900);
}

.btn-link--md svg {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.btn-link--md svg {
  margin-top: 2px;
  width: 16px;
  height: 16px;
}

.btn-link:hover path {
  fill: #fff;
}



/* Inline link
----------------------------------------------------------------------------- */

.inline-link {
  color: var(--color--grey-500);
  background-image: linear-gradient(#FBAE98, #FBAE98),
  linear-gradient(#F87854, #F87854);
  background-size: 100% 2px, 100% 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat, no-repeat;
  transition: background-size 0.275s linear;
}

.inline-link:hover {
  color: var(--color--grey-900);
  background-size: 0 2px, 100% 2px;
}



/* Pill
----------------------------------------------------------------------------- */

.pill {
  color: var(--color--grey-800);
  display: inline-flex;
  padding-inline: 18px;
  padding-block: 8px;
  border-radius: 20px;
  background: var(--color--grey-200);
}


.quote-wrap {
  padding-block-start: 9.6rem;
  padding-block-end: 5.6rem;
  position: relative;
}


.quote {
  font-size: var(--font--size-large);
  padding-block-end: .8rem;
  padding-inline: 4rem;
}

.quote::before,
.quote::after {
  content: "";
  background-image: url('../../images/svg/quote-marks.svg');
  position: absolute;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 6.4rem;
  height: 6.4rem;
}

.quote::before {
  left: 0;
  top: 3.2rem;
}

.quote::after {
  bottom: 4.8rem;
  right: 0;
  transform: rotate(180deg);
}

.quote__author {
  color: var(--color--grey-500);
  padding-inline-start: 4rem;
}
