/* Button
----------------------------------------------------------------------------- */

.btn,
.link {
  line-height: 1;
  color: var(--color--grey-900);
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.04rem;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}

.btn {
  font-size: var(--font--size-regular);
  justify-content: center;
  column-gap: 8px;
  background: none;
  border-radius: 80px;
  border: 1.5px solid var(--color--grey-900);
}

.btn--md {
  padding: 18px 36px;
}

.btn:hover {
  transition: all .2s ease;
  border: 1.5px solid transparent;
  color: #fff;
  background-color: var(--color--grey-900);
}

.btn:hover path {
  fill: #fff;
}

.btn--md svg {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.link {
  display: flex;
  column-gap: 8px;
}

.link--md {
  font-size: var(--font--size-regular);
}

.link--lg {
  font-size: var(--font--size-medium);
}

.link-svg {
  fill: var(--color--grey-900);
  padding-top: 2px;
}

.link .link-svg,
.link .link-txt {
  display: inline-flex;
  transition: all .45s;
}

.link:hover .link-txt,
.link:hover .link-svg {
  opacity: .6;
}

@media (min-width:768px) {
  .link:hover .link-svg {
    animation-name: arrow-btn-left-right;
    animation-duration: .45s;
    animation-fill-mode: both;
  }
}

@keyframes arrow-btn-left-right {
  0% {
    transform: translate(0)
  }
  25% {
    transform: translate(24px)
  }
  50% {
    transform: translate(0)
  }
  75% {
    transform: translate(12px);
    opacity: .8
  }
  to {
    transform:translate(4px);
    opacity: .6
  }
}





/* Inline link
----------------------------------------------------------------------------- */

.inline-link {
  color: var(--color--grey-500);
  background-image: linear-gradient(#FBAE98, #FBAE98),
  linear-gradient(#F87854, #F87854);
  background-size: 100% 2px, 100% 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat, no-repeat;
  transition: background-size 0.275s linear;
}

.inline-link:hover {
  color: var(--color--grey-900);
  background-size: 0 2px, 100% 2px;
}



/* Pill
----------------------------------------------------------------------------- */

.pill {
  color: var(--color--grey-800);
  display: inline-flex;
  padding-inline: 18px;
  padding-block: 8px;
  border-radius: 20px;
  background: var(--color--grey-200);
}


.quote-wrap {
  padding-block-start: 9.6rem;
  padding-block-end: 5.6rem;
  position: relative;
}


.quote {
  font-size: var(--font--size-large);
  padding-block-end: .8rem;
  padding-inline: 4rem;
}

.quote::before,
.quote::after {
  content: "";
  background-image: url('../../images/svg/quote-marks.svg');
  position: absolute;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 6.4rem;
  height: 6.4rem;
}

.quote::before {
  left: 0;
  top: 3.2rem;
}

.quote::after {
  bottom: 4.8rem;
  right: 0;
  transform: rotate(180deg);
}

.quote__author {
  color: var(--color--grey-500);
  padding-inline-start: 4rem;
}
