.main {
  padding-block: 72px 160px;
}

.section, .column {
  padding-inline: 32px;
}

.section {
  padding-block-end: 120px;
}

/* .container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding-left: var(--container--padding);
  padding-right: var(--container--padding);
} */

/* mobile */
@media (width < 1024px) {
  .section, .column {
    padding-inline: 20px;
  }

  .main {
    padding-block: 40px 100px;
  }

  /* .main__gaps {
    row-gap: 80px;
  } */
}

/* desktop */
@media (width >= 1760px) {
  .section, .column {
    padding-inline: calc(50% - 838px);
  }

  /* .main__gaps {
    row-gap: 120px;
  } */
}
