@import "variables.css";

.numeral-0 {
  /* font-feature-settings: "ss06"; */
  /* font-feature-settings: var(--font--feature-settings-no-stylized-numeral-0); */
}

.u-rel {
  position: relative;
 }

.ml-auto {
  margin-left: auto;
}

.ml-20 {
  margin-left: 20px;
}

.t-up {
  text-transform: uppercase;
}

.u-center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}



.p-40 {
  padding: 60px;
}

.u-bold {
  font-weight: bold;
}

.u-grey-900 {
  color: var(--color--grey-900);
}

.u-grey-500 {
  color: var(--color--grey-500);
}

.u-orange {
  color: var(--color--orange-base);
}


/* text
----------------------------------------------------------------------------- */

.u-tx-sm {
  font-size: var(--font--size-small);
}

.u-tx-base {
  font-size: var(--font--size-regular);
}

.u-tx-md {
  font-size: var(--font--size-medium);
}

.u-tx-lg {
  font-size: var(--font--size-large);
}

.u-tx-xl {
  font-size: var(--font--size-xlarge);
}

.u-tx-2xl {
  font-size: var(--font--size-2xlarge);
}

.u-tx-3xl {
  font-size: var(--font--size-3xlarge);
}

.u-tx-4xl {
  font-size: var(--font--size-4xlarge);
}

.u-tx-5xl {
  font-size: var(--font--size-5xlarge);
}



/* spacing
----------------------------------------------------------------------------- */

.u-pb-8 {
  padding-bottom: 8px;
}

.u-pb-16 {
  padding-bottom: 16px;
}

.u-pb-20 {
  padding-bottom: 20px;
}

.u-pb-24 {
  padding-bottom: 24px;
}

.u-pb-32 {
  padding-bottom: 32px;
}

.u-pv-lg {
  padding-block: 56px;
}
