.cs-text-grid {
  padding-bottom: 48px;
}

.cs-text__heading--primary {
  font-size: var(--font--size-4xlarge);
  line-height: 0.95;
  padding-top: 8px;
  padding-bottom: 16px;
}

.cs-text__heading {
  font-size: var(--font--size-2xlarge);
  line-height: 1;
}

h2.cs-text__heading {
  padding-bottom: 4px;
}

h3.cs-text__heading {
  padding-bottom: 12px;
}

.cs-subtitle {
  font-size: var(--font--size-medium);
}

.cs-text__desc {
  /* font-size: var(--font--size-3xlarge); */
  line-height: 1.6;
  color: var(--color--text-secondary);
  padding-bottom: 16px;
}

.cs-text__list {
  margin-left: 22px;
  list-style: none;
  line-height: 1.5;
}

.cs-text__list--2cols {
  display: flex;
  gap: 8rem;
}

.cs-text__list-item {
  color: var(--color--grey-500);
  position: relative;
  margin-bottom: 12px;
}

.cs-text__list-item::before {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: -16px;
  width: 8px;
  height: 8px;
  transform: rotate(calc(var(--rotation) * 36deg));
  background-image: url(/images/svg/list-bullet.svg);
  line-height: 0;
  text-align: center;
  content: "";
}

.cs-text__list .cs-text__list-item:nth-child(2) {
  --rotation: 2;
}

.cs-text__list .cs-text__list-item:nth-child(4n+3) {
  --rotation: 3;
}

.cs-text__list .cs-text__list-item:nth-child(3n+2) {
  --rotation: 4;
}

.cs-text__list .cs-text__list-item:nth-child(3n) {
  --rotation: 5;
}

.cs-text__list .cs-text__list-item:nth-child(4n+1) {
  --rotation: 6;
}

.cs-text__list .cs-text__list-item:nth-child(3n+1) {
  --rotation: 7;
}

/* .cs-text__list .cs-text__list-item:nth-child(4n) {
  --rotation: 9;
} */

.ds-img-grid,
.cs-img-grid {
  grid-gap: 0.8rem;
  margin: 0 auto;
  display: grid;
  padding-bottom: 72px;
}

.ds-img-grid {
  grid-gap: 0.8rem;
  grid-template-areas:
    "area-1  area-2 " 
    "area-3  area-6 " 
    "area-5  area-6 " 
    "area-5  area-4 " 
    "area-7  area-9 " 
    "area-8  area-8 " 
    "area-8  area-8 " 
    "area-11 area-10" 
    "area-13 area-12" 
    "area-16 area-16" 
    "area-15 area-17";
}

.cs-img-grid {
  grid-template-areas:
    "table-c table-c    sparkline    sparkline"
    "table-c table-c    sparkline    sparkline"
    "docs-1  docs-2     notification notification"
    "filter  table-top5 table-act    table-act"
    "filter  btn-bar    table-act    table-act";
}

.ds-img-grid__item {
  padding-bottom: 80%;
}

.cs-img-grid__item {
  padding-bottom: 75%;
}

/* .ds-img-grid__item:nth-child(6), .ds-img-grid__item:nth-child(5) {
  padding-bottom: 160%;
} */

/* .ds-img-grid__item:nth-child(16),
.cs-img-grid__item:nth-child(8) {
  padding-bottom: 40%;
} */

/* .ds-img-grid__item:nth-child(3), .ds-img-grid__item:nth-child(5), .ds-img-grid__item:nth-child(4) {
  padding-bottom: 80%;
} */

.ds-img-grid__item:nth-child(14) {
  display: none;
}

.ds-img-grid__item,
.cs-img-grid__item {
  background: #f2f2f2;
  min-height: 100px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  /* -webkit-mask-image:-webkit-radial-gradient(#fff, #000); */
}

.ds-img-grid__item img,
.cs-img-grid__item img {
  max-width: none;
  width: 100%;
}

.ds-img-grid__item__container,
.cs-img-grid__item__container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  inset: 0;
}


.ds-img-grid__item__content,
.cs-img-grid__item__content {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex
}

/* .ds-img-grid__item__title {
  line-height: 1.2;
  text-align: center;
  color: #fff;
  z-index: 10;
  opacity: 0;
  background: #00000080;
  justify-content: center;
  align-items: center;
  display: flex;
} */

.ds-img-grid__item {
  padding-bottom: 80%;
}
.ds-img-grid__item:nth-child(6), .ds-img-grid__item:nth-child(5){
  padding-bottom: 160%;
}
.ds-img-grid__item:nth-child(16){
  padding-bottom: 40%;
}
.ds-img-grid__item:nth-child(3), .ds-img-grid__item:nth-child(5), .ds-img-grid__item:nth-child(4){
  padding-bottom: 80%;
}
.ds-img-grid__item:nth-child(14){
  display: none;
}

.ds-img-grid__item:nth-child(1) {
  grid-area: area-1
}
.ds-img-grid__item:nth-child(2) {
  grid-area: area-2
}
.ds-img-grid__item:nth-child(3) {
  grid-area: area-3
}
.ds-img-grid__item:nth-child(4) {
  grid-area: area-4
}
.ds-img-grid__item:nth-child(5) {
  grid-area: area-5
}
.ds-img-grid__item:nth-child(6) {
  grid-area: area-6
}
.ds-img-grid__item:nth-child(7) {
  grid-area: area-7
}
.ds-img-grid__item:nth-child(8) {
  grid-area: area-8
}
.ds-img-grid__item:nth-child(9) {
  grid-area: area-9
}
.ds-img-grid__item:nth-child(10) {
  grid-area: area-10
}
.ds-img-grid__item:nth-child(11) {
  grid-area: area-11
}
.ds-img-grid__item:nth-child(12) {
  grid-area: area-12
}
.ds-img-grid__item:nth-child(13) {
  grid-area: area-13
}
.ds-img-grid__item:nth-child(14) {
  grid-area: area-14
}
.ds-img-grid__item:nth-child(15) {
  grid-area: area-15
}
.ds-img-grid__item:nth-child(16) {
  grid-area: area-16
}
.ds-img-grid__item:nth-child(17) {
  grid-area: area-17
}

.cs-img-grid__item:nth-child(1) {
  grid-area: table-c
}
.cs-img-grid__item:nth-child(2) {
  grid-area: sparkline
}
.cs-img-grid__item:nth-child(3) {
  grid-area: table-top5
}
.cs-img-grid__item:nth-child(4) {
  grid-area: btn-bar
}
.cs-img-grid__item:nth-child(5) {
  grid-area: docs-1
}
.cs-img-grid__item:nth-child(6) {
  grid-area: docs-2
}
.cs-img-grid__item:nth-child(7) {
  grid-area: filter
}
.cs-img-grid__item:nth-child(8) {
  grid-area: table-act
}
.cs-img-grid__item:nth-child(9) {
  grid-area: notification
}

/* Definition list cards
----------------------------------------------------------------------------- */

.cs-dl__intro {
  padding-bottom: 4px;
}

@media (width > 800px) {
  .cs-dl__intro {
    grid-column: 2/span 6;
  }

  .cs-txt__col {
    grid-column: 2/span 6;
  }
}

.cs-card__title {
  padding-top: 20px;
  padding-bottom: 4px;
  font-size: var(--font--size-medium);
}

.cs-card__desc {
  line-height: 1.6;
  color: var(--color--text-secondary);
}

.cs-card__visual {
  display: inline-flex;
  border-radius: 0.8rem;
  background: var(--color--grey-100);
}

.cs-card {
  padding-bottom: 40px;
}

.cs-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
  padding-bottom: 2rem;
}


/* .cs-imgs img {
  width: 100%;
} */


/* .cs-visual-card {
  width: 100%;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 24px;
  border-radius: 10px;
} */

/* .ds-progress-bar-bg {
  width: 100%;
  height: 12px;
  border-radius: 12px;
  background-color: #D0D3D9;
  position: relative;
  display: flex;
  align-items: center;
}

.ds-progress-bar__tracker {
  width: 100%;
  height:12px;
  border-radius: 12px;
  max-width: 800px;
}

.ds-progress-bar__marker {
  width: 100%;
  max-width: 800px;
  height: 100%;
  position: relative;
  display: inline-block;
  border-radius: 12px;
  background-color: #132140;
} */


@media (width > 800px) {
  .cs-grid {
    display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: var(--grid--gutter);
    row-gap: var(--grid--row-gap-small);
	}

  .cs-dl-grid, .cs-card-grid, .cs-fw-grid {
    grid-column: 2 / span 10;
    padding-bottom: 64px;
  }
  
  .cs-text-grid {
    grid-column: 2 / span 6;
    padding-bottom: 64px;
  }

  .cs-dl, .cs-cards {
    /* display: flex;
    gap: 2rem;
    flex-wrap: wrap; */
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: calc(var(--grid--gutter) * 2.6);
  }

  .ds-img-grid {
    display: grid;
    margin: 0 auto;
    grid-gap: .8rem;
    grid-template-areas:
      "area-1 area-1 area-2 area-3 area-4 area-5"
      "area-6 area-7 area-8 area-8 area-9 area-5"
      "area-6 area-10 area-8 area-8 area-11 area-12"
      "area-13 area-14 area-15 area-16 area-16 area-17"
  }

  .ds-img-grid__item:nth-child(1), 
  .ds-img-grid__item:nth-child(2), 
  .ds-img-grid__item:nth-child(3), 
  .ds-img-grid__item:nth-child(4), 
  .ds-img-grid__item:nth-child(7), 
  .ds-img-grid__item:nth-child(9), 
  .ds-img-grid__item:nth-child(10), 
  .ds-img-grid__item:nth-child(11), 
  .ds-img-grid__item:nth-child(12), 
  .ds-img-grid__item:nth-child(13), 
  .ds-img-grid__item:nth-child(14), 
  .ds-img-grid__item:nth-child(15), 
  .ds-img-grid__item:nth-child(16), 
  .ds-img-grid__item:nth-child(17) {
    padding-bottom: 40%;
  }

  .ds-img-grid__item:nth-child(5), .ds-img-grid__item:nth-child(6), .ds-img-grid__item:nth-child(8) {
    padding-bottom: 80%;
  }

  /* test */
  .cs-img-grid__item:nth-child(1), 
  .cs-img-grid__item:nth-child(2), 
  .cs-img-grid__item:nth-child(7), 
  .cs-img-grid__item:nth-child(8),
  .cs-img-grid__item:nth-child(9) {
    padding-bottom: 40%;
  }

  .ds-img-grid__item:nth-child(14){
    display: block;
  }


  .cs-img-grid {
    display: grid;
    margin: 0 auto;
    grid-gap: .8rem;
    grid-template-areas:
      "table-c table-c sparkline sparkline table-top5"
      "table-c table-c sparkline sparkline btn-bar"
      "docs-1 docs-2 filter table-act table-act"
      "notification notification filter table-act table-act"
  }
}


.ds__caption {
  color: var(--color--grey-500);
  font-size: var(--font--size-small);
}


@media (width >= 991px) {
  .grid-12-col {
    display: grid;
		grid-template-columns: repeat(12, 1fr);
    top: 0;
    position: fixed;
  }

  .col-left {
    grid-row-start: 1;
		grid-column: 1 / span 4;
  }

  .col-right {
    grid-row-start: 1;
		grid-column: 7 / span 7;
  }
}

.video-tile {
  grid-column-start: content-start;
  grid-column-end: content-end;
}

.video {
  object-fit: contain;
  max-width: 100%;
}

.work-index {
  display: grid;
  row-gap: var(--grid--row-gap-xlarge);
  grid-column: 2 / span 10;
}

.work-index__item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.work-index__copy {
  padding-block: 2rem;
}

.work-index__item-title {
  font-size: var(--font--size-3xlarge);
  line-height: 1;
  padding-top: 0.4rem;
}

.work-index__item-desc {
  color: var(--color--text-secondary);
  padding-top: 1.6rem;
  padding-bottom: 2.4rem;
}

.work-index__pic {
  position: relative;
}

/* .work-index__copy {
  flex: 0 0 auto;
} */

/* .work-index__copy, .work-index__img {
  flex-grow: 0;
  flex-shrink: 0;
}

.work-index__img {
  flex-shrink: 1;
} */

.work-index__copy {
  flex-basis: 580px;
}

.work-index__img a {
  text-decoration: none;
}

.work-index__img {
  border-radius: 0.8rem;
  transition: transform 0.3s ease;
}

.work-index__img:hover {
  transform: scale(1.01); 
}

.work-index__item--end .work-index__copy {
  order: 2;
}

.work-index__item--end .work-index__img {
  order: 1;
}

@media (width >= 991px) {
  .work-index__item {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }

  .work-index__item--start {
    justify-content: start;
  }

  .work-index__item--end {
    justify-content: end;
  }

  .work-index__item--end .work-index__copy {
    order: 1;
  }

  .work-index__item--end .work-index__img {
    order: 2;
  }

  .work-index__copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 4rem;
  }
}




