{% set formats = [
	'webp'
] %}

{% set widths = [
	'1974',
	'1316',
	'658'
] %}

{% set sizes = [
	'(max-width: 991px) 100vw',
	'calc(100vw - 2 * 32px)'
] %}

{% macro workIndexPicture(name='', alt='', class='') %}
	<picture data-image-changer class="work-index__pic {{ class }}">
		{% for format in formats %}
			<source
				srcset="
					{%- for width in widths -%}
						/images/work/index/work-index-{{name}}-{{ width }}.{{ format }} {{ width }}w
						{{- ',' if not loop.last -}}
					{%- endfor -%}
				"
				sizes="
					{%- for size in sizes -%}
						{{- size -}}
						{{- ',' if not loop.last -}}
					{%- endfor -%}
				"
				type="image/{{ format }}"
			>
		{% endfor %}
		<img class="work-index__img"
			src="/images/work/index/work-index-{{name}}.jpg"
			fetchpriority="high"
			alt="{{alt}}"
		>
	</picture>
{% endmacro %}
