@import 'variables.css';
@import 'utilities.css';

.header {
  position: fixed;
  top: 0px;
  backdrop-filter: blur(30px) saturate(120%);
  background: #fff;
  display: flex;
  flex-direction: column;
  left: 0px;
  right: 0px;
  -moz-box-align: center;
  align-items: center;
  height: 60px;
  z-index: 100;
  transition: background 400ms ease 0s;
}

.nav {
  position: relative;
  width: 100%;
  /* margin-left: 32px;
  margin-right: 32px; */
}


/* TODO add auto prefixer so you don't have to do it manually */
.nav__items {
  position: relative;
  display: flex;
  -moz-box-align: center;
  align-items: center;

  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
  max-width: calc(var(--page-max-width) + var(--page-padding-left) + var(--page-padding-right));
  width: 100%;
  margin: 0px auto;
}

.nav__item {
  list-style-type: none;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  margin: 0px;
}

.nav__link {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  height: var(--header-height);
  user-select: none;
  color: var(--color-text-primary);
}
