@import "modules/variables.css";
@import "modules/layout.css";
@import "modules/resets.css";
@import "modules/utilities.css";
/* @import "./modules/locomotive-scroll.min.css"; */

@font-face {
  src: url("/fonts/Roobert-Medium.woff2") format("woff2"), url("/fonts/Roobert-Medium.woff") format("woff");
  font-family: "Some font";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
}

body {
  font-size: var(--font--size-regular);
}

body, html {  
  font-family: var(--font--family);
  font-style: var(--font--style);
  font-weight: var(--font--weight);
  line-height: 1.3;
  font-feature-settings: var(--font--feature-settings);
  font-feature-settings: "ss06";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  
  /* width: 100%;
  position: relative; */
  /* overflow: hidden; */
}

/* .wrap {
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  position: fixed;
  height: 100%;
}

.wrap-inner {
  box-sizing: border-box;
  width: 100vw;
  will-change: transform;
  position: fixed;
  min-height: 100vh;
} */

a {
  cursor: pointer;
}


/* Header
----------------------------------------------------------------------------- */

.header {  
  /* position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  padding: 16px 32px; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 16px;
  padding-bottom: 16px;
}

.header__text {
  font-size: var(--font--size-medium);

  transition: opacity 200ms ease-out 200ms;
}

.header__text--hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-in
}

/* TODO add auto prefixer so you don't have to do it manually */
.nav__items {
  display: flex;
  align-items: center;
}

.nav__item {
  list-style-type: none;
}

.header__link {
  display: inline-flex;
  gap: 0.8rem;
  cursor: pointer;
  align-items: center;
}

.header__link, .nav__link {
  color: var(--color--text-primary);
  text-decoration: none;
}

.nav__link {
  position: relative;
}

.nav__link:hover {
  color: var(--color--text-primary);
}

.nav__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -6px;
  border-radius: 8px;
  left: 0;
  background-color: var(--color--orange-base);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav__link:hover::before {
  transform: scaleX(1);
}



/* Main content area
----------------------------------------------------------------------------- */

.main {
  /* overflow: scroll; */
  height: 100%;

  /* put on top */
  position: relative;
  z-index: 1;

  /* make sure to cover the screen */
  min-height: 100vh;

  /* need a solid bg to hide the footer */
  background: #fff;

  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

  padding-top: 120px;
  padding-bottom: 120px;
}

.subtitle {
  font-size: var(--font--size-regular);
  text-transform: uppercase;
  color: var(--color--grey-600);
  letter-spacing: 0.2rem;
  padding-bottom: 1rem;
}

.intro__title {
  font-size: var(--font--size-5xlarge);
  line-height: 0.95;
  padding-bottom: 1.6rem;
  letter-spacing: -0.2rem;
}

.intro__copy {
  font-size: var(--font--size-large);
  color: var(--color--grey-500);
  letter-spacing: 0.05rem;
  padding-bottom: 1.6rem;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 612px;
}

.intro__dot {
  height: 8px;
  width: 8px;
  background-color: var(--color--orange-base);
  border-radius: 50%;
  display: inline-flex;
  margin: 0 12px 0 2px;
}

.intro__dot--orange {
  background-color: var(--color--orange-base);
}

.intro__dot--pink {
  background-color: var(--color--pink-base);
}



/* HP work thumbnails
----------------------------------------------------------------------------- */

.section {
  display: block;
  position: relative;
  /* replace with calc values */
  padding-top: 80px;
  padding-bottom: 80px;
}


.horizontal-items {
  overflow: hidden;
}

.horizontal-items .container {
  padding: 0;
  transform: rotate(0deg);
}

.row {
  display: flex;
  position: relative;
}

.flex-col {
  display: block;
  width: 100%;
  order: 2;
  position: relative;
}

.horizontal-items .row {
  width: 150vw;
  left: -10vw;
}

.horizontal-items .flex-col {
  width: 25%;
  padding: 1.25vw;
}

.horizontal-items .horizontal-single-item {
  position: relative;
}

.horizontal-single-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

@media screen and (max-width: 1000px){
  .horizontal-items .flex-col {
     width: 33.333%;
  }

  .horizontal-items .flex-col:nth-child(4) {
     display: none;
  }

}

@media screen and (max-width: 540px){
  /* .horizontal-items {
     padding-top: calc(var(--section-padding) * 1);
  } */

  .horizontal-items .flex-col {
     width: 50%;
     padding: 2.5vw;
  }

  .horizontal-items .flex-col:nth-child(4) {
     display: block;
  }

  .horizontal-items .row {
     width: 120vw;
  }

  .horizontal-items .row.row--1,
  .horizontal-items .row.row--2 {
     transform: translate(0,0) !important;
  }

  .horizontal-items .row--1 .flex-col:nth-child(3), 
  .horizontal-items .row--1 .flex-col:nth-child(4) {
     transform: translate(-20vw,0);
  }

  .horizontal-items .row--2 .flex-col:nth-child(3),
  .horizontal-items .row--2 .flex-col:nth-child(4) {
     display: none;
  }
  
  .horizontal-items .container {
     display: none;
     opacity: 0;
     visibility: hidden;
  }

  .horizontal-items {
     padding-top: 0;
  }
}


/* Footer
----------------------------------------------------------------------------- */
.footer {
  /* place on the bottom */
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;

  background: var(--color--grey-900);

  padding-top: 52px;
  padding-bottom: 20px;
}


.footer__logo {
  width: 48px;
  height: 48px;
}

.footer__col1 {
  color: var(--color--grey-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer__col1 > * {
  text-align: center;
}

.footer__col3 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  column-gap: 20px;
}

.footer__subtitle {
  /* text-transform: uppercase; */
  color: var(--color--grey-400);
}

.footer__block {
  display: flex;
  align-items: end;
  color: var(--color--grey-400);
  font-size: var(--font--size-small);
}

.footer__block--right {
  justify-content: end;
}

.footer__items {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 1.6rem;
}

.footer__item {
  list-style-type: none;
}

.footer__link {
  color: var(--color--grey-50);
  text-decoration: none;
  position: relative;
}

.footer__link--secondary {
  font-size: var(--font--size-small);
}

.footer__link--email {
  font-size: var(--font--size-medium);
  letter-spacing: 0.1rem;
}

/* .footer__link:hover {
  color: var(--color--grey-50);
} */

.footer__link::after,
.footer__link--email::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -6px;
  border-radius: 8px;
  left: 0;
}

.footer__link::after {
  background-color: var(--color--orange-base);
  transform: scaleX(0);
  transition: transform 350ms ease;
}


.footer__link:hover::after {
  transform: scaleX(1);
}

.footer__link--email::before {
  background-color: var(--color--pink-base);
}

.footer__link--email::after {
  transform: scaleX(0);
  transition: transform 350ms ease;
}

.footer__link--email:hover::after {
  transform: scaleX(1);
}


/* Button
----------------------------------------------------------------------------- */

.btn-link {
  font-size: var(--font--size-regular);
  line-height: 1;
  border-radius: 40px;
  padding: 19px 30px;
  color: var(--color--grey-900);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid var(--color--grey-900);
  column-gap: 12px;
}

.btn-link:hover {
  transition: all .2s ease;
  border: 1px solid transparent;
  color: #fff;
  background-color: var(--color--grey-900);
}

.btn-link svg {
  width: 20px;
  height: 20px;
}

.btn-link:hover path {
  fill: #fff;
}




