@import "modules/components.css";
@import "modules/variables.css";
@import "modules/layout.css";
@import "modules/resets.css";
@import "modules/utilities.css";
@import "modules/locomotive-scroll.css";
@import "modules/work.css";

@font-face {
  src: url("/fonts/Roobert-Medium.woff2") format("woff2"), url("/fonts/Roobert-Medium.woff") format("woff");
  font-family: "Some font";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
}

body {
  font-size: var(--font--size-regular);
  background: #f1f1f1;
}

body, html {  
  font-family: var(--font--family);
  font-style: var(--font--style);
  font-weight: var(--font--weight);
  line-height: 1.3;
  font-feature-settings: var(--font--feature-settings);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: var(--font--weight);
}

a {
  cursor: pointer;
  text-decoration: none;
}

p {
  font-size: var(--font--size-regular);
  line-height: 1.25;
}

::selection {
  background: rgba(248, 120, 84, .1);
}


/* Header
----------------------------------------------------------------------------- */

.header {  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 16px;
  padding-bottom: 16px;
}

.header__text {
  font-size: var(--font--size-medium);

  transition: opacity 200ms ease-out 200ms;
}

.header__text--hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-in
}

/* TODO add auto prefixer so you don't have to do it manually */
.nav__items {
  display: flex;
  align-items: center;
}

.nav__item {
  list-style-type: none;
}

.header__link {
  display: inline-flex;
  gap: 0.8rem;
  cursor: pointer;
  align-items: center;
}

.header__link, .nav__link {
  color: var(--color--text-primary);
  text-decoration: none;
}

.nav__link {
  position: relative;
}

.nav__link:hover {
  color: var(--color--text-primary);
}

.nav__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -6px;
  border-radius: 8px;
  left: 0;
  background-color: var(--color--orange-base);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav__link:hover::before {
  transform: scaleX(1);
}



/* Main content area
----------------------------------------------------------------------------- */

.content-outer {
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  position: fixed;
  height: 100%;
}

.content-wrapper {
  width: 100vw;
  position: fixed;
}

.intro {
  display: grid;
  position: relative;
}

.intro__photo {
	display: block;
	width: 100%;
	height: auto;
  border-radius: 50%;
  /* box-shadow: -12px 12px var(--color--orange-base), 12px 12px var(--color--pink-base); */
  box-shadow: -12px 12px var(--color--orange-base);
}

.intro__picture {
  position: relative;
}

/* .intro__picture::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 616px;
  height: 616px;
  background: linear-gradient(to right bottom, #f87854, #fa6f5b, #fa6763, #fa5f6c, #f85775);
  border: 3px solid var(--color--orange-base);
  position: absolute;
  top: 0;
  left: -12px;
  z-index: -1;
}
*/


.subtitle {
  font-size: var(--font--size-regular);
  text-transform: uppercase;
  color: var(--color--grey-900);
  letter-spacing: 0.1rem;
  /* padding-bottom: 1rem; */
}

.intro__title {
  font-size: var(--font--size-5xlarge);
  font-weight: 500;
  line-height: 0.95;
  letter-spacing: -0.2rem;
  z-index: 10;
}

.intro__copy {
  font-size: var(--font--size-medium);
  color: var(--color--grey-500);
  line-height: 1.45;
  letter-spacing: 0.05rem;
  z-index: 10;
  padding-block-end: 20px;
}

/* mobile */
@media (width < 1024px) {
	.intro, .work-list {
		row-gap: var(--grid--gutter);
	}

  .intro__picture::after {
    width: calc(100vw - 2 * 20px);
    height: calc(100vw - 2 * 20px);
  }
}


/* tablet & tablet */
@media (width >= 1024px) {
	.intro, .work-list {
		grid-template-columns: repeat(12, 1fr);
		column-gap: var(--grid--gutter);
    row-gap: 1rem;;
	}
}

/* desktop  & tablet */
@media (width >= 1024px) {
  .intro__picture {
		grid-row: 1 / span 3;
		grid-column: 3 / span 4;
  }

  .intro__title {
    grid-row: 1 / span 2;
		grid-column: 6 / span 6;
		padding-block-start: 24px;
  }

  .intro__copy-btn {
    grid-row: 3 / span 4;
		grid-column: 7 / span 5;
  }
}

/* tablet */
/* @media (1024px <= width < 1760px) {
  .intro__title {
    grid-row: 2 / span 3;
		grid-column: 4 / span 4;
  }
} */

/* desktop */
@media (width > 1760px) {
  .intro__title {
    font-size: var(--font--size-6xlarge);
  }
}


/* Work
----------------------------------------------------------------------------- */

.work-list {
  padding: 40px;
}

.work-list__item {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 64px;
}

.work-list__heading {
  font-size: var(--font--size-xlarge);
  padding-block-end: 12px;
  display: flex;
}

.work-list__heading > :last-child {
  margin-left: auto;
}

/* .work-list__heading > :first-child {
  position: relative;
} */

/* .work-list__heading > :first-child::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: linear-gradient(to right bottom, #f87854, #fa6f5b, #fa6763, #fa5f6c, #f85775);
  position: absolute;
  top: 4px;
  left: 4px;
} */



.work-list__item > :first-child {
  flex-basis: 600px;
  flex-grow: 1;
}

.work-list__item > :last-child {
  display: flex;
  justify-content: center;
}

.work-list__item-title {
  font-size: var(--font--size-4xlarge);
  line-height: 1;
}

.work-list__item-desc {
  color: var(--color--grey-500);
  padding-top: 8px;
}

.work-list__line {
  width: 100%;
  height: .1em;
  background-color: #7070731a;
  overflow: hidden;
}

.work-list__line:first-child {
  padding-top: 20px;
}


/* HP work showcase thumbnails
----------------------------------------------------------------------------- */

.section--showcase {
  overflow: hidden;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.showcase-wrapper {
  width: 120vw;
  grid-row-gap: 2.4rem;
  background-color: #fff;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
}

.showcase__grid-row {
  width: 100%;
  grid-column-gap: 2.4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  margin-left: -10vw;
}

.flex-item {
  width: 100%;
  position: relative;
}

.horizontal-single-item {
  position: relative;
}

.flex-asset {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;

  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}


@media (width >= 1760px) {
}


/* Footer
----------------------------------------------------------------------------- */
.footer-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: var(--color--grey-900);
  display: flex;
  align-items: flex-end;
}

.footer {
  width: 100%;
  display: block;
  position: relative;
  padding-top: 188px;
  padding-bottom: 0;
  padding-left: var(--section--padding-small);
  padding-right: var(--section--padding-small);
}

.footer__col {
  color: var(--color--grey-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 120px;
}

.footer__col > * {
  text-align: center;
}

.footer__logo {
  width: 48px;
  height: 48px;
}

.footer__btm {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.footer__title {
  font-size: var(--font--size-3xlarge);
}

.footer__subtitle {
  color: var(--color--grey-400);
  font-size: 1.8rem;
}

.footer__block {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  color: var(--color--grey-400);
  font-size: var(--font--size-small);
}

.footer__block--right {
  justify-content: end;
}

.footer__items {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 2rem;
}

.footer__item {
  list-style-type: none;
}

.footer__link {
  color: var(--color--grey-50);
  text-decoration: none;
  position: relative;
}

.footer__link--secondary {
  font-size: var(--font--size-small);
}

.footer__link--email {
  font-size: var(--font--size-medium);
  letter-spacing: 0.1rem;
}

.footer__link::after,
.footer__link--email::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -6px;
  border-radius: 8px;
  left: 0;
}

.footer__link::after {
  background-color: var(--color--orange-base);
  transform: scaleX(0);
  transition: transform 350ms ease;
}

.footer__link:hover::after {
  transform: scaleX(1);
}

.footer__link--email::before {
  background-color: var(--color--pink-base);
}

.footer__link--email::after {
  transform: scaleX(0);
  transition: transform 350ms ease;
}

.footer__link--email:hover::after {
  transform: scaleX(1);
}



