@import "variables.css";


.numeral-0 {
  /* font-feature-settings: "ss06"; */
  /* font-feature-settings: var(--font--feature-settings-no-stylized-numeral-0); */
}

/* .u-container {
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
  max-width: calc(var(--page-max-width) + var(--page-padding-left) + var(--page-padding-right));
  width: 100%;
  margin: 0px auto;
} */

.u-rel {
  position: relative;
 }

/* .u-h100 {
  height: 100%;
} */

 .ml-auto {
  margin-left: auto;
 }

 /* .ml-8 {
  margin-left: 8px;
 } */

 .ml-20 {
  margin-left: 20px;
 }

 .fl-s {
  flex-shrink: 0;
 }

