---
title: 7bridges Design System
layout: "base.njk"
permalink: work/design-system-7b.html
---

{# overview #}
<section class="column ds-section" data-scroll-section>
  <div class="ds-text-wrap">
    <div class="ds-text-grid">
      <span class="subtitle">Overview</span>
      <h2 class="ds-text__heading--primary">7bridges design system</h2>
      <p class="ds-text__desc">I have worked on creating a flexible, scalable design system, consisting of reusable components and patterns, allowing for consistency and coherence in visual style and user experience across the 7bridges (7b) platform.</p>
    </div>
  </div>
</section>

{# visuals grid fw #}
<section class="ds-img-grid" data-scroll-section>
  <div class="ds-img-grid__item ds-img-grid__item--1">
    <div class="ds-img-grid__item__container">
      {# <div class="ds-img-grid__item__title">title</div> #}
      <div class="ds-img-grid__item__content">
        <img src="/images/work/7b/design-system/aqua-shades-tints-x4.png" alt="Aquamarine brand colour shades and tints" >
      </div>
    </div>
  </div> 
  <div class="ds-img-grid__item ds-img-grid__item--2">   
    <div class="ds-img-grid__item__container">
      {# <div class="ds-img-grid__item__title">title</div> #}
      <div class="ds-img-grid__item__content"> 
        <img src="/images/work/7b/design-system/pagination-x4.png" alt="Basic pagination component" >
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--3">
    <div class="ds-img-grid__item__container">
      <div class="ds-img-grid__item__content">
        <img src="/images/work/7b/design-system/progress-bar-x4.png" alt="Progress bar component">
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--4">
    <div class="ds-img-grid__item__container">
      <div class="ds-img-grid__item__content">
        <img
        src="/images/work/7b/design-system/toggle-x4.png"
        alt="Toggle switch component"
        >  
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--5">
    <div class="ds-img-grid__item__container">
      {# <div class="ds-img-grid__item__title">title</div> #}
      <div class="ds-img-grid__item__content">
        <img
          src="/images/work/7b/design-system/border-radius-x4.png"
          alt="Border radius design tokens"
        />
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--6">
    <div class="ds-img-grid__item__container">
      {# <div class="ds-img-grid__item__title">title</div> #}
      <div class="ds-img-grid__item__content">
        <img
        src="/images/work/7b/design-system/date-picker-x4.png"
        alt="Date picker component"
        />
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--7">
    <div class="ds-img-grid__item__container">
      <div class="ds-img-grid__item__content">
        <img src="/images/work/7b/design-system/radios-x4.png" alt="Radio button component" >

      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--8">
    <div class="ds-img-grid__item__container">
      <div class="ds-img-grid__item__content">
        <img src="/images/work/7b/design-system/pallet-icon-x4.png" alt="Pallet icon with keylines">
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--9">
    <div class="ds-img-grid__item__container">
      {# <div class="ds-img-grid__item__title">title<br>cont</div> #}
      <div class="ds-img-grid__item__content">
        <img src="/images/work/7b/design-system/button-bar-x4.png" alt="Button bar component">
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--10">
    <div class="ds-img-grid__item__container">
      <div class="ds-img-grid__item__content">
        <img src="/images/work/7b/design-system/badge-x4.png" alt="Badge component">
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--11">
    <div class="ds-img-grid__item__container">
      <div class="ds-img-grid__item__content">
        <img src="/images/work/7b/design-system/tooltip-x4.png" alt="Toolip component">
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--12">
    <div class="ds-img-grid__item__container">
      <div class="ds-img-grid__item__content">
        <img src="/images/work/7b/design-system/table-rows-x4.png" alt="Table rows">
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--13">
    <div class="ds-img-grid__item__container">
      <div class="ds-img-grid__item__content">
        <img src="/images/work/7b/design-system/icon-outline-x4.png" alt="Question mark outline icon">
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--14">
    <div class="ds-img-grid__item__container">
      <div class="ds-img-grid__item__content">
        <img src="/images/work/7b/design-system/icons-x4.png" alt="Calendar icon, info icon and csv file icon">
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--watchface ds-img-grid__item--15">
    <div class="ds-img-grid__item__container">
      {# <div class="ds-img-grid__item__title">
        title<br />cont
      </div> #}
      <div class="ds-img-grid__item__content">
        <img src="/images/work/7b/design-system/checkbox-x4.png" alt="Checkbox component">
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--16">
    <div class="ds-img-grid__item__container">
      <div class="ds-img-grid__item__content">
        <img src="/images/work/7b/design-system/stepper-x4.png" alt="Progress stepper component" />
      </div>
    </div>
  </div>
  <div class="ds-img-grid__item ds-img-grid__item--17">
    <div class="ds-img-grid__item__container">
      <div class="ds-img-grid__item__content">
        <img src="/images/work/7b/design-system/radial-chart-x4.png" alt="Radial chart" >
      </div>
    </div>
  </div>
</section>

{# Team #}
<section class="column ds-section" data-scroll-section>
  <div class="ds-text-wrap">
    <div class="ds-text-grid">
      <h3 class="ds-text__heading">The Team</h3>
      <p class="ds-text__desc">UI Designer, Head of Design, Frontend developers</p>
    </div>
  </div>
</section>

{# Goals and benefits #}
<section class="column ds-section" data-scroll-section>
  <div class="ds-text-wrap">
    <div class="ds-text-grid">
      <h3 class="ds-text__heading">Goals &amp; Benefits</h3>
      <ul class="ds-text__list">
        <li class="ds-text__list-item">Reuse of ready-made components and resources - allowing designers to focus their efforts on solving user needs, rather than recreating elements and reinventing solutions</li>
        <li class="ds-text__list-item">Consistency and uniformity in visual appearance and user experience - eliminating unnecessary learning and confusion for users</li>
        <li class="ds-text__list-item">Accelerated time to mark - get features in front of users faster, test assumptions earlier and iterate quicker to deliver more value</li>
        <li class="ds-text__list-item">Shared language between designers and developers</li>
      </ul>
    </div>
  </div>
</section>

{# Goals and benefits #}
<section class="column ds-section" data-scroll-section>
  <div class="ds-text-wrap">
    <div class="ds-text-grid">
      <h3 class="ds-text__heading">Role &amp; Responsibilities</h3>
      <p class="ds-text__desc">When I started in my role as UI designer the design system was in its infancy. It had been put together quickly, without considering scalability or flexibility. It contained a basic set of poorly named core values, no documentation and brittle components. The 7b platform used the existing design system in a few places, resulting in a lack of unified user experience and visual consistency. As the sole UI designer in a small team, I took action to make incremental improvements to the system over the course of my time at 7bridges.</p>
      <p class="ds-text__desc">In my role as UI designer with accountable ownership of evolving, developing and improving our design system, I performed the following tasks:</p>
      <ul class="ds-text__list">
        <li class="ds-text__list-item">Conduct audits of the existing platform and component usage</li>
        <li class="ds-text__list-item">Conduct research into best practises, industry standards and accessibility considerations</li>
        <li class="ds-text__list-item">Understanding of the requirements, task, target user, context of use and potential future needs of users</li>
        <li class="ds-text__list-item">Create new architecture for the design system and migrate existing components to new architecture</li>
        <li class="ds-text__list-item">Creation of design tokens to establish the core values that underpin our design system&apos;s visual style.</li>
        <li class="ds-text__list-item">Extension of the existing brand colour palette to include a set of shades and tints for each colour. As well as reworking some of the current colours in use to align better with industry standards and accessibility guidelines</li>
        <li class="ds-text__list-item">Define guidelines for icon creation and handoff to reduce existing visual inconsistencies between icons</li>
        <li class="ds-text__list-item">Create components in Figma with accompanying documentation, detailing the component&apos;s anatomy, layout, states and expected behaviour.</li>
        <li class="ds-text__list-item">Define the appearance, behaviour, and structure of components, considering user needs and product requirements</li>
        <li class="ds-text__list-item">Create interactive prototypes to showcase animations and states</li>
        <li class="ds-text__list-item">Create thorough documentation and guides for component usage</li>
        <li class="ds-text__list-item">Collaborate with the design and product team throughout the design process to explain design decisions, exchange ideas and gain feedback</li>
        <li class="ds-text__list-item">Closely collaborate with frontend engineers to ensure smooth implementation</li>
        <li class="ds-text__list-item">Conduct quality assurance testing of components built in Storybook to test they adhere to the design specs and standards</li>
      </ul>
    </div>
  </div>
</section>

{# Background #}
<section class="column ds-section" data-scroll-section>
  <div class="ds-text-wrap">
    <div class="ds-text-grid">
      <h3 class="ds-text__heading">Background</h3>
      <p class="ds-text__desc">There is no project dedicated to improving our design system, instead, I use each project as an opportunity to introduce any missing components or patterns into the library or to make improvements to existing components. With design systems, small incremental investments over time lead to big gains overall. To have a successful design system, you need to make a continuous effort to invest resources into it. Our team is small and scrappy. We try to do what we can with limited resources, often while juggling other responsibilities.</p>
      <p class="ds-text__desc">My end goal is to evolve the current system to establish a set of resources and standards that ensure consistency across the 7b platform.</p>
    </div>
  </div>
</section>


{# Research #}
<section class="column ds-section" data-scroll-section>
  <div class="ds-text-wrap">
    <div class="ds-text-grid">
      <h3 class="ds-text__heading">Research</h3>
      <p class="ds-text__desc">When reworking an existing component I perform a platform audit to gather use cases for this component - current and potential. This process also highlights where components are being misused. When the need for a new component arises I perform an audit to check for other components performing a similar function, to ensure a new component is needed. After the initial audit, when I have built up a clear overview of component usage across the platform (if applicable) and a list of requirements and ideas, I move on to the next stage of research involving industry analysis, best practises and an accessibility review. I often look at other design systems to see how they have solved the same problems. Other systems often provide helpful ideas for naming aswell.</p>
    </div>
  </div>
</section>


{# Process - inc testing in this? #}
<section class="column ds-section" data-scroll-section>
  <div class="ds-text-wrap">
    <div class="ds-text-grid">
      <h3 class="ds-text__heading">Process</h3>
      <p class="ds-text__desc">During the next phase, I experiment and stress test various options across different use cases, often starting with pen and paper before moving to higher fidelity designs. It&apos;s at this point I expand designs to include all the necessary states. The next step of the process is to get design feedback from the team, followed by any further exploration or refinement. After this, I build an interactive prototype when necessary and create detailed design documentation for the component showcasing all component variants, states, how and when to use, details of the behaviour, any animation specs and accessibility considerations. I have a kick-off with developers, work closely with the frontend developer during the build and then QA the component in Storybook post-build. Creating detailed design documentation and answering questions before and during the build process means that QA tends to be relatively simple.</p>
    </div>
  </div>
</section>

{# Definitions #}
<section class="column ds-section" data-scroll-section>
  <div class="ds-text-wrap">
    <div class="ds-text-grid">
      <h3 class="ds-text__heading">Definitions</h3>
      <p class="ds-text__desc"><span class="u-bold u-grey-900">Design tokens:&nbsp;</span>represent the small, repeated design decisions that make up our design system&apos;s visual style. Spacing, colours, shadows, typography styles, border radius.</p>
      <p class="ds-text__desc"><span class="u-bold u-grey-900">Components:&nbsp;</span>collection of reusable UI elements and their documentation for use.</p>
      <p class="ds-text__desc"><span class="u-bold u-grey-900">Pre-styled components:&nbsp;</span>set of commonly used pre-designed, UI elements for easy drag and drop into projects. Some are complete, stand-alone components, and others are a combination of existing components.</p>
    </div>
  </div>
</section>

{# Highlights #}
{# <section class="column ds-section" data-scroll-section>
  <div class="ds-text-wrap">
    <div class="ds-text-grid">
      <h3 class="ds-text__heading">Highlights</h3>
      <p class="ds-text__desc"></p>
    </div>
  </div>
</section> #}

{# Challenges & Learnings / Key Learnings #}
<section class="column ds-section" data-scroll-section>
  <div class="ds-text-wrap">
    <div class="ds-text-grid">
      <h3 class="ds-text__heading">Challenges, failures &amp; Learnings</h3>
      <ul class="ds-text__list">
        <li class="ds-text__list-item">Under communication and education on the ever-evolving nature of a design system. A design system is organic - components go through phases of development, improvement and iteration based on new requirements, testing and other factors. Communicating this to the frontend team has, at times, been a challenge. I am not sure if this is a challenge I have solved adequately yet.</li>
        <li class="ds-text__list-item">Documentation is critical. Design system documentation is essential for building and maintaining a successful system. The original system lacked any documentation, so it made it hard for the developers to build the components and also led to divergence between the components in Storybook and Figma. By developing detailed documentation and guidelines for the platform’s visual and interactive components, we create a shared language to help designers, developers and other stakeholders communicate effectively and minimise divergence. It also minimises time spent in QA and assumptions or miscommunications between the design and development phases.</li>
        <li class="ds-text__list-item">Creating or standardising components as part of another project has its benefits and drawbacks. This approach allows us to quickly see how something works in context and integrate it into the platform quickly. Striking a balance between pushing the design system forward (long-term value) and more immediate value through new features involves the need for compromises and knowing which battles to pick. Learning when is it OK to make a tradeoff and when to double down on something that is critical to the experience. Limited time based due to tight project timelines, limited the amount of time I could dedicate to the research part of the process.</li>
        <li class="ds-text__list-item">Naming is hard. However, it is a crucial foundation of a scalable, flexible design system. In hindsight, I should have spent more time at the beginning thinking about our needs and our approach to naming design tokens. I went for a very flat structure, with primitives and then most components referenced these primitives, with a few semantic variables sprinkled about. On reflection and with more experience (and subsequent research) I think the approach outlined by Nathan Curtis in his article on <a href="https://medium.com/eightshapes-llc/naming-tokens-in-design-systems-9e86c7444676" target="_blank" rel="noreferrer noopener" class="inline-link">naming tokens in design systems</a> seems like a sensible approach - having a basic semantic theme palette and then components with palettes containing token aliases specific to that component. Resulting in more tokens but ultimately reducing complexity in decision-making.</li>
      </ul>
    </div>
  </div>
</section>


{# Achievements / Impact #}
<section class="column ds-section" data-scroll-section>
  <div class="ds-text-wrap">
    <div class="ds-text-grid">
      <h3 class="ds-text__heading">The Impact</h3>
      <ul class="ds-text__list">
        <li class="ds-text__list-item">Implementation of design tokens in Figma and our codebase as our single source of truth for the core values that underpin our design system. This approach enables us to express design decisions in a platform-agnostic way and has also helped to establish a common language between design and tech for these core values</li>
        <li class="ds-text__list-item">Evolved the design system to create an better toolkit of pre-made design solutions, patterns, design tokens and components, tailored to our platform and brand, which has helped to improve the speed of UI design and development. It has also helped to create a more unified user experience with familiar patterns and behaviour and more visual consistency. Users of the 7b platform can be more confident of what will happen when they interact with each component, enforcing the idea that they can rely on our product. In short, improved consistency helps build trust in our users.</li>
      </ul>
    </div>
  </div>
</section>


{# Conclusion #}
<section class="column ds-section" data-scroll-section>
  <div class="ds-text-wrap">
    <div class="ds-text-grid">
      <h3 class="ds-text__heading">Conclusion</h3>
      <p class="ds-text__desc">As with any design system, ours is a work in progress. It is an organic entity, that evolves with the brand, the codebase and new features built for the platform.</p>
    </div>
  </div>
</section>

{# Next steps #}
{# <section class="column ds-section" data-scroll-section>
  <div class="ds-text-wrap">
    <div class="ds-text-grid">
      <h3 class="ds-text__heading">Next Steps</h3>
      <p class="ds-text__desc"></p>
    </div>
  </div>
</section> #}

