---
title: 7bridges Design System
layout: "base.njk"
permalink: work/design-system-7b.html
---

{# overview #}
<section class="column section" data-scroll-section>
  <div class="">

  </div>
</section>

{# visuals grid fw #}
<div class="ds-grid">
  <div class="ds-grid__item ds-grid__item--1">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__title">title</div>
      <div class="ds-grid__item__content">
        <img src="/some-pic.png" alt="" >
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--2">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__title">title</div>
      <div class="ds-grid__item__content">
        <img src="/some-image.jpg" alt="some component" >
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--3">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__content">
        <img src="/some-image5.png" alt="some icon">
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--4">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__content">
        <img
        src="/some-image.jpg"
        alt=""
        >  
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--5">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__title">title</div>
      <div class="ds-grid__item__content">
        <img
          src="/some-image.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--6">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__title">title</div>
      <div class="ds-grid__item__content">
        <img src="/lens.some-image.jpg" alt="" >
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--7">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__title">Title</div>
      <div class="ds-grid__item__content">
        <img src="/some-image.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--8">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__title">
        title<br />
        contn
      </div>
      <div class="ds-grid__item__content">
        <img src="/some-image.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--9">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__title">title<br>cont</div>
      <div class="ds-grid__item__content">
        <img src="/some-image.png" alt="" />
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--10">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__content">
        <img src="/some-image.jpg" alt="" >
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--11">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__content">
        <img src="/some-image.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--12">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__content">
        <img src="/some-image.png" alt="">
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--13">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__title">title</div>
      <div class="ds-grid__item__content">
        <img src="/some-image.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--14">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__content">
        <img src="/some-image.png" alt="">
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--watchface ds-grid__item--15">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__title">
        title<br />cont
      </div>
      <div class="ds-grid__item__content">
        <img src="/some-image.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--16">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__title">title</div>
      <div class="ds-grid__item__content">
        <img src="/" alt="" />
      </div>
    </div>
  </div>
  <div class="ds-grid__item ds-grid__item--17">
    <div class="ds-grid__item__container">
      <div class="ds-grid__item__title">title</div>
      <div class="ds-grid__item__content">
        <img src="/some-image.png" alt="" >
      </div>
    </div>
  </div>
</div>

{# rest of content #}
<section class="column section" data-scroll-section>
  <div class="">

  </div>
</section>


