---
title: Lucy Oliphant - UI Designer
layout: "base.njk"
---

<main class="main column">
	<section class="">
		<div class="">
			<div class="intro">
				<h2 class="subtitle">About me</h2>
				<p class="intro__title">
					UI designer and former developer, based in London.
				</p>
				<p class="intro__copy">
					I love developing and maintaining design systems<span class="intro__dot intro__dot--orange"></span>I love crafting beautiful interfaces<span class="intro__dot intro__dot--pink"></span>I use my skills, spanning the intersection of design and development, to create robust, intuitive and engaging digital experiences<span class="intro__dot intro__dot--orange"></span>
				</p>
				<a href="/about" class="">Learn more (add icon)</a>
			</div>
		</div>
	</section>
</main>
