---
title: Lucy Oliphant - UI Designer
layout: "base.njk"
---

{% from 'macros/intro-picture.njk' import introPicture with context %}
{% from 'macros/showcase-picture.njk' import showcasePicture %}

{# intro #}
<section class="column section" data-scroll-section>
	<div class="main-grid">
		{{ introPicture(context='home') }}
		<h2 class="intro__heading">
			UI designer and former developer, based in London.
		</h2>
		<div class="intro__copy-btn">
			<p class="intro__copy">
				I love developing and maintaining design systems. I love crafting beautiful interfaces. I use my skills, spanning the intersection of design and development, to create robust, intuitive and engaging digital experiences.
			</p>
			{# <div class="intro__btn">
				<a href="/about" class="btn-link">
					<span>Learn more</span>
					{% include "./images/svg/arrow-right.svg" %}
				</a>
			</div> #}
		</div>
	</div>
</section>

{# work links #}
<section class="column section" data-scroll-section>
	<div class="">
		<div>
			<h2 class="work-list__heading">
				<span>Selected work</span>
				<span class="u-grey-500"> 2019 &ndash; present</span>
			</h2>
		</div>
		{# 		
		divider #}
		<div class="work-list__line"></div>
		<div class="work-list__item">
			<div>
				<span class="subtitle">7bridges</span>
				<h3 class="work-list__item-title">Design System</h3>
				<p class="work-list__item-desc">
					Evolving the platform&apos;s design system
				</p>
			</div>
			<div>
				<a href="/work/design-system-7b" class="btn-link">
					<span>View case study</span>
					{% include "./images/svg/arrow-right.svg" %}
				</a>
			</div>
		</div>
		<div class="work-list__line"></div>
		<div class="work-list__item">
			<div>
				<span class="subtitle">7bridges</span>
				<h3 class="work-list__item-title">Provider accounts UI</h3>
				<p class="work-list__item-desc">
					Provide users with better visibility and understanding of Provider accounts data
				</p>
			</div>
			<div> 
				<span class="pill">
					Case study coming soon
				</span>
			</div>
		</div>
		<div class="work-list__line"></div>
	</div> 
</section>


{# work thumbs #}
<section class="section section--showcase" data-scroll-section>
	<div class="showcase-wrapper">
		<div class="showcase__grid-row showcase__grid-row--1" data-scroll 
		data-scroll-direction="horizontal" 
		data-scroll-speed="-2">
			<div class="flex-item">
				<div class="horizontal-single-item">
					{{ showcasePicture(name="work-thumb-icons-1", alt="7b design system icons showcase image") }}
				</div>
			</div>
			<div class="flex-item">
				<div class="horizontal-single-item">
					{{ showcasePicture(name="work-thumb-icons-2", alt="7b design system icons") }}
				</div>
			</div>
			<div class="flex-item">
				<div class="horizontal-single-item">
					{{ showcasePicture(name="work-thumb-design-system", alt="7b design system preview") }}
				</div>
			</div>
			<div class="flex-item">
				<div class="horizontal-single-item">
					{{ showcasePicture(name="work-thumb-docs-card", alt="Docs card designs") }}
				</div>
			</div>
		</div>
		<div class="showcase__grid-row showcase__grid-row--2" data-scroll 
		data-scroll-direction="horizontal" 
		data-scroll-speed="2">
			<div class="flex-item">
				<div class="horizontal-single-item">
					{{ showcasePicture(name="work-thumb-sparklines", alt="7b UIs with sparklines") }}
				</div>
			</div>
			<div class="flex-item">
				<div class="horizontal-single-item">
					{{ showcasePicture(name="work-thumb-data-vis", alt="7b simulations bar chart") }}
				</div>
			</div>
			<div class="flex-item">
				<div class="horizontal-single-item">
					{{ showcasePicture(name="work-thumb-email", alt="7b tracking component designs") }}
				</div>
			</div>
			<div class="flex-item">
				<div class="horizontal-single-item"> 
					{{ showcasePicture(name="work-thumb-tracking", alt="7b tracking component designs") }}
				</div>
			</div>
		</div>
	</div>
</section>

