---
title: Lucy Oliphant - UI Designer
layout: "base.njk"
---

<main class="main__content">
	<section class="">
		<div class="">
			<div class="">
				<h2 class="">
					UX Designer.<br />
					UI Developer.
				</h2>
			</div>
		</div>
	</section>


	<section class="" style="height:1000px">
		<div class="">
			<div class="">
				<h2 class="">
					UX Designer.<br />
					UI Developer.
				</h2>
			</div>
		</div>
	</section>
</main>
