<footer class="footer">
	<div class="footer__content-wrapper">
		<div class="footer_content">

		</div>
		<div class="footer_content">
			<div class="footer__block footer__block--left">
				left copy
				{{ page.date.getFullYear() }}
			</div>
			<div class="footer__block footer__block--center">
				<ul class="footer__list">
						<li class="footer__item">
							<a class="footer__link" href="https://github.com/lroliphant" rel="me" target="_blank">
								Github
							</a>
						</li>
						<li class="footer__item">
							<a class="footer__link" href="https://www.linkedin.com/in/lucy-oliphant-67590227/" rel="me" target="_blank">
								LinkedIn
							</a>
						</li>
				</ul>
			</div>
			<div class="footer__block footer__block--right">
				left copy
				{{ page.date.getFullYear() }}
			</div>
		</div>
	</div>
</footer>
