<header class="header column">
	<a class="header__link" href="/" aria-label="Home">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#F87854" d="M0 19.709C0 22.079 1.433 24 3.201 24h12.604v-1.562c0-2.37-1.433-4.292-3.201-4.292H0v1.563ZM5.854 18.146V0H4.29C1.921 0 0 1.433 0 3.201v14.945h5.854Z"/><path fill="#F85775" fill-rule="evenodd" d="M8.195 1.562c0 2.37 1.433 4.292 3.201 4.292H24V4.29C24 1.921 22.567 0 20.799 0H8.195v1.562Z" clip-rule="evenodd"/><path fill="#F85775" d="M19.709 24C22.079 24 24 22.567 24 20.799V5.854h-5.854V24h1.563Z"/></svg>
		<span class="header__text">Lucy Oliphant</span>
	</a>
	<nav class="nav" aria-label="Navigation menu" dir="ltr">
		<ul class="nav__items" aria-label="Site navigation" dir="ltr">

			<li class="nav__item ml-auto">
				<a href="/about" class="nav__link">About</a>
			</li>
			<li class="nav__item ml-20">
				<a href="/work" class="nav__link">Work?</a>
			</li>
		</ul>
	</nav>
</header>

